.repos__loader {
    margin-bottom: 26px;
    height: 520px;
}
.repos__loader-item {
    height: 112px;
    padding: 24px 32px;
    border-radius: 6px;
    margin: 0px 0px 24px 0px;
    background-image: linear-gradient(
        90deg,
        #f2f2f2 0%,
        #f2f2f2 40%,
        #dddddd 50%,
        #dddddd 55%,
        #f2f2f2 65%,
        #f2f2f2 100%
    );
    background-size: 400%;
    animation: shimmer 1500ms infinite;
}
.report__loader-item:not(:last-child) {
    margin-bottom: 24px;
}
.loader-item__title {
    height: 28px;
    width: 220px;
    margin: 0px 0px 16px 0px;
    background: #f8f8f8;
}
.loader-item__text {
    height: 20px;
    background: #f8f8f8;
}
@keyframes shimmer {
    from {
        background-position: 100%, 100%;
    }
    to {
        background-position: 0, 0;
    }
}
@media (max-width: 500px) {
    .loader-item__title {
        margin: 0px 0px 10px 0px;
    }
}
@media (max-width: 992px) {
    .repos__loader {
        margin-bottom: 15px;
    }
}
