.content__container {
    display: flex;
    width: 100%;
}
.content__body {
    max-width: 1295px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}
.user {
    flex: 1 1 auto;
    width: 100%;

    display: flex;
    flex-direction: column;
}
.user__body {
    display: flex;
    column-gap: 85px;
    flex: 1 1 auto;
}
.user__pagination {
    text-align: right;
}

@media (max-width: 1200px) {
    .user__body {
        column-gap: 40px;
    }
}

@media (max-width: 992px) {
    .app__user {
        padding: 20px 0 60px 0;
    }
    .user__body {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .user__body {
        align-items: flex-start;
    }
}
