.app__content {
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    padding: 40px 0 31px 0;
    background: #e5e5e5;
}
.content__body {
    display: flex;
    column-gap: 85px;
}
.content__data {
    flex: 0 0 295px;
    display: flex;
    flex-direction: column;
}
.content__avatar {
    width: 280px;
    height: 280px;
    margin: 0px 0px 28px 0px;
}
.content__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.content__name {
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    margin: 0px 0px 8px 0px;
}
.content__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 133.333%;
    color: #0064eb;
    margin-bottom: 34px;
}
.content__media {
    display: flex;
    column-gap: 20px;
}
/* .content__activity {
    font-size: 16px;
    line-height: 150%;
    padding-left: 32px;
} */
.followers {
    background: url("../../assets/images/User/followers.svg") left no-repeat;
}
.following {
    background: url("../../assets/images/User/following.svg") left no-repeat;
}
.repos {
    flex: 1 1 auto;
    margin-bottom: 26px;
}
.repos__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 28px;
}

.repos__item:not(:last-child) {
    margin-bottom: 24px;
}
.content__pagination {
    text-align: right;
}

@media (max-width: 1200px) {
    .content__body {
        column-gap: 40px;
    }
}

@media (max-width: 992px) {
    .app__user {
        padding: 20px 0 60px 0;
    }
    .content__body {
        flex-direction: column;
        align-items: center;
    }
    .content__data {
        flex-basis: auto;
        margin-bottom: 40px;
        align-items: center;
    }
    .content__avatar {
        width: 250px;
        height: 250px;
        margin: 0px 0px 12px 0px;
    }
    .content__name {
        margin-bottom: 4px;
    }
    .content__link {
        margin-bottom: 20px;
    }
    .repos {
        align-self: stretch;
    }
}

@media (max-width: 480px) {
    .content__body {
        align-items: flex-start;
    }
    .content__data {
        align-items: flex-start;
    }
    .content__avatar {
        width: 150px;
        height: 150px;
    }
    .repos__title {
        font-size: 24px;
        margin-bottom: 24px;
    }
    .content__media {
        flex-direction: column;
        row-gap: 8px;
    }
}
