.user__data {
    padding-top: 12px;
    flex: 0 0 293px;
    display: flex;
    flex-direction: column;
}
.user__avatar {
    width: 280px;
    height: 280px;
    margin: 0px 0px 28px 0px;
}
.user__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user__name {
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    margin: 0px 0px 8px 0px;
    max-width: 293px;
    word-break: break-word;
}
.user__link {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 133.333%;
    color: #0064eb;
    margin-bottom: 34px;
    max-width: 293px;
    word-break: break-word;
    position: relative;
    align-self: flex-start;
}
.user__link::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #0064eb;
    left: 50%;
    bottom: -2px;
    transition: all 0.2s ease-in-out;
}
.user__link:hover::after {
    cursor: pointer;
    width: 100%;
    left: 0;
}
.user__media {
    display: flex;
    column-gap: 16px;
}
.followers {
    background: url("../../assets/images/Content/followers.svg") left no-repeat;
}
.following {
    background: url("../../assets/images/Content/following.svg") left no-repeat;
}
@media (max-width: 992px) {
    .user__data {
        flex-basis: auto;
        margin-bottom: 40px;
        align-items: center;
    }
    .user__avatar {
        width: 250px;
        height: 250px;
        margin: 0px 0px 12px 0px;
    }
    .user__name {
        margin-bottom: 4px;
    }
    .user__link {
        margin-bottom: 20px;
        align-self: auto;
    }
}
@media (max-width: 480px) {
    .user__data {
        align-items: flex-start;
    }
    .user__avatar {
        width: 150px;
        height: 150px;
    }
    .user__media {
        flex-direction: column;
        row-gap: 8px;
    }
}
