.header {
    background-color: #0064eb;
}
.header__body {
    min-height: 72px;
    display: flex;
    align-items: center;
    column-gap: 22px;
}
.header__logo {
    flex: 0 0 42px;
}
.form {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    position: relative;
}
.header__button {
    position: absolute;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 14px;
    background-color: transparent;
}
