.content__activity {
    font-size: 16px;
    line-height: 150%;
    padding-left: 32px;
}
.user__activity {
    font-size: 16px;
    line-height: 150%;
    padding-left: 32px;
    white-space: nowrap;
}
