.content__home {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__picture {
    width: 110px;
    height: 110px;
    margin-bottom: 24px;
}
.home__picture img {
    width: 100%;
    height: 100%;
}
.home__text {
    max-width: 210px;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #808080;
}