.info-placeholder {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-placeholder__picture {
    width: 110px;
    height: 110px;
    margin-bottom: 24px;
    padding: 24px 17px;
}
.info-placeholder__picture img {
    width: 100%;
    height: 100%;
}
.info-placeholder__text {
    max-width: 227px;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #808080;
}